@import "tailwindcss";
@keyframes reviewText {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-review-text {
  animation: reviewText 0.6s ease-out;
}
